{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

{% if self.carousel_items %}
<div class="slider-home">
    {% for item in carousel_items %}
    <div>
        <div class="medium-12 large-8 columns relative">
            {% if item.copyright %}
            <div class="copyright-note">{{ item.copyright|richtext }}</div>
            {% endif %}
            <a href="{{ item.link }}" class="image">
                {% image item.image width-1000 as carouselimage %}
                <img src="{{ carouselimage.url }}" alt="{{ carouselimage.alt }}">
            </a>
        </div>
        <div class="medium-12 large-4 columns carouseltext">
            {% if item.caption %}
            <figcaption>{{ item.caption|truncatechars:48 }}</figcaption>
            {% endif %}

            {% if item.description %}
            {{ item.description|richtext|truncatechars_html:200 }}
            {% endif %}

            {% if item.link %}
            <a class="button" href="{{ item.link }}">FIND OUT MORE &#9656;</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}





