{% if event %}
{% load cms_tags wagtailcore_tags wagtailroutablepage_tags %}

<article class="post" id="post{{ event.id }}">
    <header>
        {% block event_title %}
        <h1 class="posttitle">{{ event.title }}</h1>
        {% endblock %}

        {% block event_author %}
        <p class="byline">
            <time datetime="{{ event.date_from|date:'c' }}"><i class="fa fa-calendar"></i> {{ event.date_from }}{% if event.date_to %} - {{ event.date_to }}{% endif %}</time>
        </p>
        <p class="byline">
            <i class="fa fa-map-marker"></i> {{ event.location }}
        </p>
        {% endblock %}
    </header>

    {% block event_content %}
    <section class="postcontent">
        {% include "cms/includes/streamfield.html" with content=event.body %}
    </section>
    {% endblock %}

    {% block event_categories %}
    <footer>
        {% with event.categories.all as categories %}
        {% if categories %}
        <ul class="categories no-bullet">
            {% for category in categories %}
            <li class="category">
                <a href="{% routablepageurl event.event_index.specific 'category' category.category.title %}" class="{{ category.category.title|lower }}">
                    <i class="fa fa-circle {{ category.category.title|lower }}"></i>
                    {{ category.category.title|unslugify }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </footer>
    {% endblock %}
</article>
{% endif %}