{% if event %}
{% load cms_tags wagtailcore_tags wagtailroutablepage_tags %}

<article class="post" id="post{{ event.id }}">
    {% block event_header %}
    <header>
        {% block event_title %}
        <h1 class="posttitle">{{ event.title }}</h1>
        {% endblock %}
        {% block event_author %}

        {% endblock %}
    </header>
    {% endblock %}

    {% block event_content %}
    <section class="postcontent">
        {% include "cms/includes/streamfield.html" with content=event.body %}
    </section>
    {% endblock %}
</article>
{% endif %}