{% extends "cms/includes/event.html" %}
{% load cms_tags wagtailimages_tags %}

{% if event %}
{% load wagtailcore_tags %}

{% block event_title %}
<h2 class="posttitle">
    <a href="{% pageurl event %}">{{ event.title }}</a>
</h2>
{% endblock %}

{% block event_content %}
<section class="postcontent preview">
	<div class="row">
		<div class="large-{% if event.feed_image %}9{% else %}12{% endif %} columns">
			<p>
			    {% if event.search_description %}
				{{ event.search_description }} <a href="{% pageurl event %}">Read more...</a>
				{% endif %}
			</p>
		</div>

	    {% if event.feed_image %}
		<div class="large-3 columns">
			{% image event.feed_image max-600x300 as tmp_image %}
			<img src="{{ tmp_image.url }}" width="100%" alt="{{ tmp_image.alt }}">
		</div>
		{% endif %}
	</div>
</section>
{% endblock %}

{% endif %}
