{% load staticfiles wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% for featured_page in featured_pages %}

{% with page=featured_page.featured_page.specific type=featured_page.featured_page.specific.content_type.model %}
<div class="medium-12 large-6 columns">
    <div class="callout" data-equalizer-watch>
        <p class="type">
            <span class="bookmark {{ type }}"></span>
            {% if type == 'eventpage' %}
            <span>Event</span>
            {% elif type == 'reviewpage' %}
            <span>Review</span>
            {% elif type == 'blogpost' %}
            <span>Blog</span>
            {% else %}
            <span>{{ type }}</span>
            {% endif %}

            {% if type == 'eventpage' or 'reviewpage' %}
            {% for c in page.categories.all %}
            <i class="fa fa-circle {{ c.category.title|lower }} float-right">&#160;</i>
            {% endfor %}
            {% endif %}
        </p>

        <div class="thumbnail">
            <div class="media-left">
                <a href="{% pageurl page %}" title="{{ page.title }}">
                    {% if page.feed_image %}
                    {% image page.feed_image width-200 as img %}
                    <img src="{{ img.url }}" alt="{{ img.title }}" />
                    {% else %}
                    <img src="{% static 'images/placeholder-300x160.png' %}" alt="Thumbnail placeholder">
                    {% endif %}
                </a>
            </div>
        </div>

        {% if type == 'eventpage' or 'reviewpage' %}
        <p class="category">
            {% for c in page.categories.all %}
            <span class="{{ c.category.title|lower }}">{{ c.category.title }}</span>
            {% if not forloop.last %}+{% endif %}
            {% endfor %}
        </p>
        {% endif %}

        <h5><a href="{% pageurl page %}">{{ page.title }}</a></h5>

        {% if type == 'reviewpage' or type == 'blogpost' %}
        <p class="post-meta">Posted on <time>{{ page.date }}</time>
            <br>by
            <a href="{% routablepageurl page.get_parent.specific 'author' page.owner %}" rel="author">{{ page.owner }}</a>
        </p>
        {% else %}
        <p class="post-meta">
            <i class="fa fa-calendar"></i>
            <time>{{ page.date_from }}</time>
            {% if page.date_to %}- <time>{{ page.date_to }}</time>{% endif %}
            <br>
            <i class="fa fa-map-marker"></i>
            {{ page.location }}
        </p>
        {% endif %}

        {% if page.search_description %}
        <p>{{ page.search_description }}</p>
        {% else %}
        <p>{{ page.body|truncatechars_html:120 }}</p>
        {% endif %}

        {% if type == 'blogpost' %}
        {% with page.tags.all as tags %}
        {% if tags %}
        <ul class="tags menu simple">
            {% for tag in tags %}
            <li class="tag">
                <a href="{% routablepageurl page.get_parent.specific 'tag' tag %}">{{ tag }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% endif %}
    </div>

    <a href="{% pageurl page %}" class="button expanded">Find out more</a>
</div>
{% endwith %}

{% endfor %}