{% load cms_tags %}

{% get_request_parameters exclude="page" as params %}

<ul class="pagination" role="navigation" aria-label="Pagination">
    <li class="arrow previous {% if not pages.has_previous %}unavailable{% endif %}">
    	<a href="{% if pages.has_previous %}?page={{ pages.previous_page_number }}{{ params }}{% else %}#{% endif %}">&laquo;</a>
    </li>
    <li class="pagination">Page <strong>{{ pages.number }}</strong> of {{ pages.paginator.num_pages }}</li>
    <li class="arrow next {% if not pages.has_next %}unavailable{% endif %}">
    	<a href="{% if pages.has_next %}?page={{ pages.next_page_number }}{{ params }}{% else %}#{% endif %}">&raquo;</a>
    </li>
</ul>