{% extends "cms/includes/review.html" %}
{% load cms_tags wagtailimages_tags %}

{% if review %}
{% load wagtailcore_tags %}

{% block review_title %}
<h2 class="posttitle">
    <a href="{% pageurl review %}">{{ review.title }}</a>
</h2>
{% endblock %}

{% block review_content %}
<section class="postcontent preview">
	<div class="row">
		<div class="large-{% if review.feed_image %}9{% else %}12{% endif %} columns">
		    <p>
			    {% if review.search_description %}
				{{ review.search_description }} <a href="{% pageurl review %}">Read more...</a>
				{% endif %}
			</p>
		</div>
		{% if review.feed_image %}
		<div class="large-3 columns">
			{% image review.feed_image max-600x300 as tmp_image %}
			<img src="{{ tmp_image.url }}" width="100%" alt="{{ tmp_image.alt }}">
		</div>
		{% endif %}
	</div>
</section>
{% endblock %}

{% endif %}
