{% if review %}
{% load cms_tags wagtailcore_tags wagtailroutablepage_tags %}

<article class="post" id="post{{ review.id }}">
    <header>
        {% block review_title %}
        <h1 class="posttitle">{{ review.title }}</h1>
        {% endblock %}

        {% block review_author %}
        <p class="byline">posted by <a href="{% routablepageurl review.review_index.specific 'author' review.owner %}">{{ review.owner|unslugify }}</a>
            <time datetime="{{ review.date|date:'c' }}">on {{ review.date }}</time>
        </p>
        {% endblock %}
    </header>

    {% block review_content %}
    <section class="postcontent">
        {% include "cms/includes/streamfield.html" with content=review.body %}
    </section>
    {% endblock %}

    {% block review_categories %}
    <footer>
        {% with review.categories.all as categories %}
        {% if categories %}
        <ul class="categories no-bullet">
            {% for category in categories %}
            <li class="category">
                <a href="{% routablepageurl review.review_index.specific 'category' category.category.title %}" class="{{ category.category.title|lower }}">
                    <i class="fa fa-circle {{ category.category.title|lower }}"></i>
                    {{ category.category.title|unslugify }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </footer>
    {% endblock %}
</article>
{% endif %}