{% load wagtailcore_tags %}

<ul class="menu">
    <li{% if root.active %} class="active"{% endif %}>
    	<a href="{% pageurl root %}">{{ root.title }}</a>
	</li>

	{% for page in menu_pages %}
	<li{% if page.active %} class="active"{% endif %}>
	<a href="{% pageurl page %}">{{ page.title }}</a>
	</li>
	{% endfor %}

	<li>
	    <div class="form">
	        <span class="toggle"></span>
	        <form role="search" method="get" id="searchform" action="{% url 'search' %}">
	            <input type="search" name='q' placeholder="{% if search_query %}{{ search_query }}{% else %}Search...{% endif %}">
	            <button type="submit" value="" id="searchsubmit"></button>
	        </form>
	    </div>
	    {% comment %}
		<div id="gssn-search" class="gssn-search">
			<form role="search" method="get" id="searchform" action="{% url 'search' %}">
				<input class="gssn-search-input" type="search" name="q" placeholder="{% if search_query %}{{ search_query }}{% else %}Search...{% endif %}">
				<input class="gssn-search-submit" type="submit" value="" id="searchsubmit">
				<span class="gssn-icon-search"></span>
			</form>
		</div>
	    {% endcomment %}
	</li>
</ul>
