{% load wagtailcore_tags %}

<ul class="menu">
    <li{% if root.active %} class="active"{% endif %}>
    	<a href="{% pageurl root %}">{{ root.title }}</a>
	</li>

	{% for page in menu_pages %}
	<li{% if page.active %} class="active"{% endif %}>
	<a href="{% pageurl page %}">{{ page.title }}</a>
	</li>
	{% endfor %}

	<li>
		{% comment %}
	    <div class="form">
	        <a class="toggle"><i class="fa fa-search"></i></a>
	        <form role="search" method="get" id="searchform" action="{% url 'search' %}">
	            <input type="search" name='q' placeholder="{% if search_query %}{{ search_query }}{% else %}Search...{% endif %}">
	            <button type="submit" value="" id="searchsubmit"><i class="fa fa-search"></i></button>
	        </form>
	    </div>
	    {% endcomment %}
		<div id="gssn-search" class="gssn-search">
			<form>
				<input class="gssn-search-input" placeholder="Enter your search term..." type="search" value="" name="search" id="search">
				<input class="gssn-search-submit" type="submit" value="">
				<span class="gssn-icon-search"></span>
			</form>
		</div>
	</li>
</ul>
