django
django-compressor
django-extensions
django-grappelli
django-libsass
django-model-utils
django-modelcluster
django-redis
django-require
django-taggit
elasticsearch
libsass==0.10.0
pillow
psycopg2
wagtail
