django<1.10
django-compressor
django-extensions
django-grappelli
django-libsass
django-model-utils
django-modelcluster<=2
django-redis
django-require
django-taggit
elasticsearch<5
libsass==0.10.0
pillow
psycopg2
wagtail<1.8
