@import 'settings';
@import '../vendor/foundation-sites/scss/foundation';

@import '../vendor/motion-ui/motion-ui';

@import '../vendor/slick-carousel/slick/slick.scss';
@import 'slick-theme';

/** Your custom scss here **/

@include foundation-everything;


//  Table of Contents:
//
//   1. Global
//   2. Navigation
//   3. Navigation Search
//   4. Navigation - Mobile Menu
//   5. Navigation - Index page - Sub Nav
//   6. Homepage
//   7. Images
//   8. Image Caption
//   9. Page
//   9. Resources List
//  10. Index Page
//  11. Blog
//  12. Location Date
//  13. Search
//  14. Footer
//  15. Sticky Footer



/** Global **/

h1 {
    border-bottom: 1px solid $black;
    margin-top: 2rem;
    padding-bottom: .3125rem;
}

a {
    color: $black;
}

a:hover {
    color: $primary-color;
}

p {
    margin: 0;
}

.button{
    font-size:1rem;
    color:$black;
    border:3px solid $black;
    font-weight: bold;
    background-color:transparent;
    text-transform: uppercase;
    }

.button:hover{
    background-color:$primary-color;
    color:$dark-gray;
    border:3px solid $primary-color;
    }


/** Navigation **/
header {
    background-color: $black;
    padding: .5rem 0;
}

.top-bar {
    padding: .7rem 0 0;
}

.top-bar, .top-bar ul {
    background-color: $black;
}

.menu > li > a {
    color:$white;
    margin: 0 1.1875rem;
    padding: .5rem .1rem;
}

.menu .active > a {
    border-bottom: 3px solid $primary-color;
    background: none;
    color: $primary-color;
    font-weight: bold;
}

.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
    border-color: $white transparent transparent;
}

.post > header {
    background:none;
}

.menu-icon::after {
    background: $primary-color;
    box-shadow: 0 7px 0 $primary-color, 0 14px 0 $primary-color;
}

.top-bar-left img {
    width: 7rem;
}

/** Navigation Search **/

.form {
    margin: 0 auto;
    position: relative;
    margin-left: 1rem;
}

 .toggle {
    background: $black;
    border: none;
    cursor: pointer;
    display: block;
    height: 2.1875rem;
    position: absolute;
    right: 0;
    width: 2.1875rem;
}

.toggle:before {
    content: "\f002";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: $white;
    font-size: 1.125rem;
    position: absolute;
    left: .6rem;
    top: .1875rem;
}

#searchform {
    float: right;
    height: 2.1875rem;
    margin: 0;
    opacity: 0;
    padding: 0;
    transition: all 0.8s ease-in-out 0s;
    visibility: hidden;
    width: 2.1875rem;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}

.form:hover #searchform {
    display: block;
    opacity: 1;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    visibility: visible;
    width: 200px;
    height: 2.1875rem;
}

#searchform input {
    height: 2.1875rem;
}

#searchform #s {
    background: none repeat scroll 0 0 $white;
    border: none;
    float: right;
    outline:none;
    height: 100%;
    padding: 0 15px;
    width: 100%;
}

#searchform #searchsubmit {
    background: $primary-color;
    border: medium none;
    cursor: pointer;
    display: block;
    height: 2.1875rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 2.1875rem;
}

#searchform #searchsubmit:before {
    content: "\f002";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: $dark-gray;
    font-size: 1.125rem;
}

@media screen and (max-width: 1024px) {
    .form {
        margin: 0 auto;
        width: 100%;
    }
    #searchform {
        visibility: visible;
        float: none;
    }
    .form #searchform {
        width: 100%;
    }
    .top-bar input {
        min-width: 100%;
    }
    .form:hover #searchform {
        width: 100%;
    }
}

/** Navigation - Mobile Menu **/
.title-bar {
    padding: 1rem .5rem 0;
}

.title-bar a {
    color: $primary-color;
}

.title-bar a:hover {
    color: $white;
}

.title-bar-title {
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 1.8125rem;
}

.title-bar .top-bar-right {
    width: 100%;
}

.title-bar .top-bar-right .menu>li {
    display: block;
    width: 100%;
}

@media screen and (max-width: 1024px) {
.top-bar .top-bar-left, .top-bar .top-bar-right {
    width: 100%;
}
.top-bar-right .menu>li {
    display: block;
    text-align: center;
    margin: 1rem 0;
}
.top-bar-right li a:hover {
    color: $primary-color;
}
.top-bar-right li.active {
    background: $primary-color;
}
.top-bar-right li.active a {
    color: $dark-gray;
}
}
/** Navigation - Index page - Sub Nav **/
 ul.subnav {
    margin-left: 0;
    border-bottom: 1px solid $black;
}

.subnav li {
    display: inline-block;
    border-right: 1px solid $black;
    margin-bottom: .5rem;
    padding: 0 .5rem .1rem .3125rem;
    line-height: 1rem;
}

.subnav .active > a {
    font-weight: bold;
}

.subnav li:last-child {
    display: inline-block;
    border-right: none;

}

/** Homepage **/
.homepage h2 {
    border-bottom: 1px solid $medium-gray;
    border-top: 1px solid $medium-gray;
    padding: .5rem 0;
    margin: 2.5rem 0 1.5rem;
}

.homepage h3 {
    margin: .3125rem 0 1rem;
    font-size: 1.125rem;
    font-weight: normal;
}

.homepage .image-date {
    background: $black;
}

.homepage .image-date img {
    object-fit: cover;
    width: 100%;
    height: 220px;
    background: $black;
}

.homepage .image-date img:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

/** Images**/

.image-date {
    position: relative;
    width: 100%; /* for IE 6 */
}

.image-date time {
    position: absolute;
    top: 0;
    left: 0;
    background: $black;
    color: $white;
    text-transform: uppercase;
    padding: .1875rem .5rem .1rem .8125rem;
    margin: 0;
    font-weight: bold;
}

.image-date time .day {
    font-size: 1.375rem;
    display: block;
    line-height: 1.1875rem;
}

.image-date time .month {
    font-size: 1.25rem;
    display: block;
    line-height: 1rem;
}

.image-date time .year {
    font-size: .875rem;
    display: block;
    line-height: 1rem;
}

.img-wrapper.mid {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.img-wrapper.full img {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.richtext-image.full-width {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.richtext-image.left {
    width: 50%;
}

.richtext-image.right {
    width: 50%;
}

/** Image Caption **/

.stream-field .img-wrapper {
    position: relative;
}

.stream-field .caption {
    position: absolute;
    bottom: 0;
    background: rgba(179, 173, 152, 0.7);
    color: $dark-gray;
    padding: 0 .5rem;
    margin: 0;
    font-size: .875rem;
    font-style: italic;
}

.stream-field .left .caption {
    left: 0;
}

.stream-field .right {
    float: right;
    padding-left: 20px;
}

.stream-field .left {
    float: left;
    padding-right: 20px;
}

.stream-field .right .caption, .stream-field .full .caption, .stream-field .mid .caption {
    right: 0;
}

.stream-field .img-wrapper .caption p {
    padding-bottom: .1875rem;
    margin: 0;
}

/** Posts **/
.rich-text p a {
    color: $primary-color;
}

.rich-text p a:hover {
    text-decoration: underline;
}

/** Location Date **/
.date-location {
    margin-bottom: 1rem;
}

p.byline{
    margin: .1875rem 0;
    background: $black;
    color: $white;
    font-size: .9375rem;
    padding: 0 .5rem;
}

p.byline i.fa {
    line-height: 1.8;
    font-size: 1.125rem;
    width: 2rem;
    height: 2rem;
    background: $primary-color;
    color: $dark-gray;
    text-align: center;
    margin: 0 .5rem 0 -0.5rem;
}

p.byline i.fa.fa-map-marker {
    line-height: 1.4375;
    font-size: 1.375rem;
}

/** Index Page **/

.index header {
    background: none;
}

.spotlight p {
    margin: 0;
}

ul.no-bullet.index li {
    margin: 0 0 2rem;
}

h2.posttitle {
    margin: .5rem 0 .3125rem;
}

/** Blog **/

h1.cat-title.blog {
    margin-bottom: 1rem;
}

h1.blog{
    margin-bottom: 0;
}

ul.pagination .arrow.next {
    float: right;
}

ul.pagination .arrow.previous {
    float: left;
}

ul.pagination {
    text-align: center;
    border-top: 1px solid $black;
}

.wrapper footer {
    background: none;
}

ul.posts.no-bullet.index p.byline.blog {
    color: $black;
    background: none;
    font-size: .8125rem;
    padding-left: 0;
}

article.post p.byline.blog {
    color: $black;
    background: none;
    font-size: .8125rem;
    padding-left: 0;
}




/** Resources List **/
.main .stream-field .rich-text ol {
    margin-left: 3.3125rem;
}

.main .stream-field .rich-text ol li {
    list-style-type: none;
    counter-increment: step-counter;
    margin-bottom: 1rem;
}

.main .stream-field .rich-text ol li:before {
    content: counter(step-counter,decimal-leading-zero);
    font-size: 1.375rem;
    background-color: $black;
    color: $white;
    font-weight: bold;
    padding: 0 0 2rem 0;
    margin: 0 0.875rem 0 -3rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 1.375;
    font-family: Roboto Condensed;
}

.main .stream-field .rich-text ol li b {
    font-size: 1.25rem;
}

.main .stream-field .richtext-image .left {
    width: 100px;
    height:100px;
    object-fit:cover;
}

/** Search **/
.search-results li {
    margin: 0.5rem 0;
}

.search-results ol {
    margin-left: 3.3125rem;
}

.search-results ol li {
    list-style-type: none;
    counter-increment: step-counter;
    margin-bottom: 1rem;
}

.search-results ol li:before {
    content: counter(step-counter,decimal-leading-zero);
    font-size: 1.375rem;
    background-color: $black;
    color: $white;
    font-weight: bold;
    margin: 0 0 0 -3.2rem;
    display: inline-block;
    width: 2.125rem;
    height: 2.125rem;
    text-align: center;
    line-height: 1.4375;
    font-family: Roboto Condensed, sans-serif;
    float: left;
}

.search-results h4 {
    padding-top: .1875rem;
    font-size: 1.25rem;
}

.search-results span {
    color: $primary-color;

}

/** Map **/

.iframe-container {
    width: 100%;
    display: block;
}
.iframe-container.normal iframe {
    width: 50%;
    float: left;
    margin: 1rem 2rem 1rem 0;

}
.iframe-container.full iframe {
    width: 100%;
    margin: 1rem 0;
}

  .iframe-container iframe {
    border: 3px solid $primary-color;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
       -webkit-filter: grayscale(90%)sepia(15%)contrast(90%);
        -moz-filter  : grayscale(90%)sepia(15%)contrast(90%);
        -ms-filter   : grayscale(90%)sepia(15%)contrast(90%);
         -o-filter   : grayscale(90%)sepia(15%)contrast(90%);
            filter   : grayscale(90%)sepia(15%)contrast(90%);
  }


/** Footer **/

footer {
    background: $black;
    color: $white;
    margin-top: 2rem;
    /**
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; */
}

footer a {
    color: $white;
}

footer ul {
    list-style-type: none;
    text-align: center;
}

footer li {
    margin: .5rem;
}

footer .fa {
    font-size: 2rem;
}

/** Sticky footer **/
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -9em;
}

footer, .push {
  height: 9em;
}

//**//
.searchbox .searchbox-icon, .searchbox .searchbox-submit {
  width: 45px;
  height: 35px;
  display: block;
  position: absolute;
  top: 0;
  font-size: 18px;
  right: 0;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  text-align: center;
  cursor: pointer;
  color: #d9d9d9;
}

.searchbox {
  position: relative;
  min-width: 44px;
  width: 0;
  height: 35px;
  margin-top: 5.5px;
  float: right;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.searchbox .searchbox-input {
  top: 0;
  left: 0;
  border: 0;
  outline: 0;
  width: 100%;
  height: 35px;
  margin: 0;
  padding: 0 20px 0 50px;
  font-size: 16px;
  color: #f5f5f5;
  background-color: transparent;
}
.searchbox .searchbox-input::-moz-placeholder {
  color: #d9d9d9;
}
.searchbox .searchbox-input:-moz-placeholder {
  color: #d9d9d9;
}
.searchbox .searchbox-input::-ms-input-placeholder {
  color: #d9d9d9;
}
.searchbox .searchbox-input::-webkit-input-placeholder {
  color: #d9d9d9;
}
.searchbox .searchbox-icon:before {
  display: block;
  float: right;
  max-width: 24px;
  max-height: 24px;
  margin-top: 5px;
  margin-left: 10px;
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACBklEQVRIS7WUzVEbQRCF+22pdAUiMDpoe3UyjsByBCYDmwgsR2CIwBABKAKLCIwzgJNmVgcpBLiqStOu3ppVrYZhdilE33Zner7+ed2giJVl+V1EvhLRmIgO9YqI3AG4c85NR6PRKuYX+4fmz8ViMd5sNtcAjhMPPBLRJTNfdIFsAT7q68DpQUT0QQLwOTi7YeazNkgF0Midc38bl6fOufOwFMaYCYBzIjrwZbsqimKSglQAY8wKwAcf6Vme5zcvOZVleaL9qCFZln0ZDof6HTUEpbll5tO2tIOMkz6w1s6ISBVDzrlBV4VYa++J6CMRPTLz0YsZNMrzwMwnbdHX59Za7cUv/U6VSTMQ37B/RVGo7jvZawAqwwMReR+AMUYntNJ4v98/GgwGle7brNm7lB+8tn/7By+YWWubtPl8fpxl2bJLabFcLg/X67Xulmp4AHzK81wVEjV/X4eyEgSA5NzUg6YTWmehJZow8zQk+Mj/1I936dt2F1lrdXq/1Y+KyCrLslm9i0RkDCCmshmAVZ7nP2Mp72zTpvRSTdDIAega10GrLbr8dgB605dBG60ro+pLw24BzHRXGWMuAfwIzp9BngGaDrrYfKTU6/XumxK21moA2o/QdiBJQJtcEyXdQt4E0ABCcYQ9eTMgBRGRq70AEpCnvQEikCcAk70CGpBTHUpdOf8BdIUMqeoRfLEAAAAASUVORK5CYII=");
}
.searchbox .searchbox-icon:after {
  content: '';
  width: 1px;
  height: 29px;
  margin-top: 3px;
  background-color: rgba(216, 216, 216, 0.5);
  display: block;
  float: right;
}
.searchbox .searchbox-submit {
  opacity: 0;
}
.searchbox.searchbox-open {
  background-color: rgba(245, 245, 245, 0.3);
  border-radius: 3px;
  width: 280px;
}
