{% load staticfiles %}


<div class="top-bar-left">
    <img src="http://localhost:8000/static/media/images/gssn-logo-test.original.png" alt="GSSN" width="120px">
</div>

<div class="title-bar text-right" data-responsive-toggle="example-menu" data-hide-for="medium">
    <div class="title-bar-title">MENU</div>
    <button class="menu-icon" type="button" data-toggle></button>
</div>


<!--<div class="row header">
	<div class="large-12 columns">
		<h1><a href="/">German Screen Studies Network</a></h1>
	</div>
</div>-->
