{% load cms_tags wagtailcore_tags %}

<div class="sidebar">

	{% if ('events') or ('gssn-virtual') not in self.url %}
	<div class="widget">
		<h3>Become a member</h3>
		<hr>

		<p>Find out here about the benefits of joining.</p>
		<a href="/about/membership/" class="button brown-button expanded">Join</a>
	</div>
	{% endif %}

	{% if 'about' in self.url %}

	{% get_resources_index_page as rip %}
	<h3>{{ rip.title }}</h3>
	<hr>

	<ul>
		<li><a href="{% pageurl rip %}">{{ rip.title }}</a></li>
		{% for page in rip.get_children %}
		<li><a href="{% pageurl page %}">{{ page.title }}</a></li>
		{% endfor %}
	</ul>

	{% get_event_index_page as eip %}
	<h3>{{ eip.title }}</h3>
	<hr>

	<ul class="no-bullet sidebar-widget headlines">
		{% for event in eip.live_events|slice:":3" %}
	    <li>
	        <time datetime="{{ event.date_from|date:'c' }}" class="calendar-icon">{{ event.date_from|date_as_block }}</time>
	        {% if event.time_from %} - <time datetime="{{ event.time_from|date:'c' }}" class="time-icon">{{ event.time_from|date:'h:i A' }}</time>{% endif %}
	        <p><a href="{% pageurl event %}">{{ event.title }}</a></p>
	    </li>
		{% empty %}
		{% for event in eip.past_events|slice:":3" %}
	    <li>
	        <time datetime="{{ event.date_from|date:'c' }}" class="calendar-icon">{{ event.date_from|date_as_block }}</time>
	        {% if event.time_from %} - <time datetime="{{ event.time_from|date:'c' }}" class="time-icon">{{ event.time_from|date:'h:i A' }}</time>{% endif %}
	        <a href="{% pageurl event %}">{{ event.title }}</a>
	    </li>
		{% empty %}
		<li>Sorry, no events planned.</li>
		{% endfor %}
		{% endfor %}
	</ul>

	{% elif 'research' in self.url %}

	{% get_event_index_page as eip %}
	<h3>{{ eip.title }}</h3>
	<hr>

	<ul class="no-bullet sidebar-widget headlines">
		{% for event in eip.live_events|slice:":3" %}
	    <li>
	        <time datetime="{{ event.date_from|date:'c' }}" class="calendar-icon">{{ event.date_from|date_as_block }}</time>
	        {% if event.time_from %} - <time datetime="{{ event.time_from|date:'c' }}" class="time-icon">{{ event.time_from|date:'h:i A' }}</time>{% endif %}
	        <p><a href="{% pageurl event %}">{{ event.title }}</a></p>
	    </li>
		{% empty %}
		{% for event in eip.past_events|slice:":3" %}
	    <li>
	        <time datetime="{{ event.date_from|date:'c' }}" class="calendar-icon">{{ event.date_from|date_as_block }}</time>
	        {% if event.time_from %} - <time datetime="{{ event.time_from|date:'c' }}" class="time-icon">{{ event.time_from|date:'h:i A' }}</time>{% endif %}
	        <a href="{% pageurl event %}">{{ event.title }}</a>
	    </li>
		{% empty %}
		<li>Sorry, no events planned.</li>
		{% endfor %}
		{% endfor %}
	</ul>

	{% elif 'events' in self.url %}

	{% get_event_index_page as eip %}

	<div class="widget">
		<h3>Next event</h3>
		<hr>
		{% for event in eip.live_events|slice:":1" %}
		<h4><a href="{% pageurl event %}">{{ event.title }}</a></h4>
		{% if event.search_description %}
        <p>{{ event.search_description }} <a href="{% pageurl event %}"> &#8811;</a></p>
        {% endif %}
		<a href="{% pageurl event %}" class="button brown-button expanded">Register now</a>
        {% empty %}
        <p>Sorry, there are no events planned for the near future.</p>
        {% endfor %}
	</div>

	<h3>Symposium</h3>
	<hr>

	<ul class="no-bullet sidebar-widget headlines">
		{% for event in eip.symposiums|slice:":1" %}
	    <li>
	        <time datetime="{{ event.date_from|date:'c' }}" class="calendar-icon">{{ event.date_from|date_as_block }}</time>
	        {% if event.time_from %} - <time datetime="{{ event.time_from|date:'c' }}" class="time-icon">{{ event.time_from|date:'h:i A' }}</time>{% endif %}
	        <p><a href="{% pageurl event %}">{{ event.title }}</a></p>
	    </li>
	    {% endfor %}
	</ul>

	<h3>School {{ eip.title }}</h3>
	<hr>

	<ul class="no-bullet sidebar-widget headlines">
		{% for event in eip.schools|slice:":3" %}
	    <li>
	        <time datetime="{{ event.date_from|date:'c' }}" class="calendar-icon">{{ event.date_from|date_as_block }}</time>
	        {% if event.time_from %} - <time datetime="{{ event.time_from|date:'c' }}" class="time-icon">{{ event.time_from|date:'h:i A' }}</time>{% endif %}
	        <p><a href="{% pageurl event %}">{{ event.title }}</a></p>
	    </li>
		{% empty %}
		<li>Sorry, no school events planned.</li>
		{% endfor %}
	</ul>

	<h3>Past {{ eip.title }}</h3>
	<hr>
	<ul class="no-bullet sidebar-widget headlines">
		{% for event in eip.past_events|slice:":3" %}
	    <li>
	        <time datetime="{{ event.date_from|date:'c' }}" class="calendar-icon">{{ event.date_from|date_as_block }}</time>
	        {% if event.time_from %} - <time datetime="{{ event.time_from|date:'c' }}" class="time-icon">{{ event.time_from|date:'h:i A' }}</time>{% endif %}
	        <p><a href="{% pageurl event %}">{{ event.title }}</a></p>
	    </li>
	    {% endfor %}
	</ul>

	{% elif 'news' in self.url %}

	{% get_blog_index_page as bip %}
	<h3>Latest {{ bip.title }}</h3>
	<hr>

	{% get_blog_index_page as bip %}
	<ul class="no-bullet sidebar-widget headlines">
		{% for post in bip.posts|slice:":3" %}
		<li>
			<p><a href="{% pageurl post %}">{{ post.title }}</a></p>
			<p class="meta">
				Posted by {{ post.owner|unslugify }}
	            <time datetime="{{ post.date|date:'c' }}">on {{ post.date }}</time>
	        </p>
		</li>
		{% empty %}
		<li>Sorry, nothing to show here.</li>
		{% endfor %}
	</ul>

    <div class="twitter-box">
        <h3><a class="twitter-timeline" href="https://twitter.com/G_S_S_N">Tweets by G_S_S_N</a></h3>
        <hr>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

	{% endif %}
</div>