{% load wagtailcore_tags cms_tags %}

{% if 'events' not in self.url %}
<h3>Membership</h3>
<hr>
<a href="#" class="button">Join</a>
{% endif %}
{% if 'about' in self.url %}
<h3>Research</h3>
<hr>

<ul>
	<li><a href="{% pageurl self %}">{% pageurl self %}</a></li>
	<li><a href="#">Resources</a></li>
	<li><a href="#">Register of experts</a></li>
</ul>

<ul>
    {% for page in pages %}
    <li>
        <a href="#">{{ page.title }}</a>
    </li>
    {% empty %}
    <li>Sorry, nothing to show here.</li>
    {% endfor %}
</ul>

<h3>Events</h3>
<hr>
<ul class="no-bullet index">
    {% for event in events %}
    <li>
        {% include "cms/includes/event_preview.html" with event=event %}
    </li>
    {% empty %}
    <li>Sorry, nothing to show here.</li>
    {% endfor %}
</ul>

{% elif 'research' in self.url %}

<h3>Events</h3>
<hr>
<ul class="no-bullet index">
    {% for event in events %}
    <li>
        {% include "cms/includes/event_preview.html" with event=event %}
    </li>
    {% empty %}
    <li>Sorry, nothing to show here.</li>
    {% endfor %}
</ul>

{% elif 'events' in self.url %}
<h3>Next event</h3>
<hr>
<a href="#">Join</a>
<ul class="no-bullet index">
    {% for event in events %}
    <li>
        {% include "cms/includes/event_preview.html" with event=event %}
    </li>
    {% empty %}
    <li>Sorry, nothing to show here.</li>
    {% endfor %}
</ul>
{% endif %}