{% load cms_tags staticfiles compress require %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block meta_title %}{% endblock %} | GSSN</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% compress css %}
  {# SCSS compilation relies on django compressor #}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">
  <!-- FontAwesome -->
  <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/font-awesome.scss' %}">
  {% endcompress %}
</head>
<body>
  <header>
    <div class="row">
      <div class="large-12 columns">
        {% include 'includes/header.html' %}
        <nav class="top-bar" id="example-menu">
          {% include 'includes/navigation.html' %}
        </nav>
      </div>
    </div>
  </header>

  {% block base %}
  <div class="wrapper">
  <div class="row">
    <div class="medium-12 large-12 columns">
      {% block title %}{% endblock %}

      {% block subnav %}
      {% has_local_menu current_page=self as show_local_menu %}
      {% if show_local_menu %}
      {% local_menu current_page=self %}
      {% endif %}
      {% endblock %}
    </div>
  </div>
  <div class="row">
    <div class="medium-8 large-8 columns">
      <section class="main">
        {% block main %}
        {% endblock %}
      </section>
    </div>
    <div class="medium-4 large-4 columns sidebar">
      {% block side-bar %}
      <h3>Side bar</h3>
      <hr>
      {% endblock %}
    </div>
  </div>
  <div class="push"></div>
  </div>
  {% endblock %}


  <footer>
    {% block footer %}
    {% include 'includes/footer.html' %}
    {% endblock %}
  </footer>

  <script type="text/javascript">
    {% include 'includes/config.js' %}
  </script>
  {% require_module 'config' %}

  {% block footer_scripts %}{% endblock %}
</body>
</html>
