{% extends "cms/base.html" %}
{% load wagtailimages_tags %}

{% block meta_title %}{{ self.title }} | {{ collection.collection.name }}{% endblock %}

{% block title %}
<h1 class="cat-title">
    <span class="bookmark collectionpage">&nbsp;</span>
    {{ collection.collection.name }}
</h1>
{% endblock %}

{% block main %}

<div class="row">
    <div class="slider-nav">
        {% for image in collection.images %}
        <div>
            {% image image height-150 as thumb %}
            <img class="thumbnail" src="{{ thumb.url }}" alt="{{ thumb.image.title }} thumbnail">
        </div>
        {% endfor %}
    </div>

    <div class="slider-for" aria-label="{{ collection.collection.name }}">
        {% for image in collection.images %}
        <div>
            {% image image width-600 as fullsize %}
            {% if forloop.first %}
            <img src="{{ fullsize.url }}" alt="{{ fullsize.image.title }}">
            {% else %}
            <img data-lazy="{{ fullsize.url }}" alt="{{ fullsize.image.title }}">
            {% endif %}
            <figcaption>{{ fullsize.image.title }}</figcaption>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
