{% extends "cms/index_page.html" %}
{% load wagtailcore_tags wagtailroutablepage_tags %}

{% block title %}<h1 class="cat-title"><span class="bookmark eventpage"></span> {% if filter_type == 'past' %}Past{% else %}Live{% endif %} events <a href="{% if filter_type == 'past' %}{% routablepageurl self 'live_events' %}{% else %}{% routablepageurl self 'past_events' %}{% endif %}" class="button secondary float-right">Show {% if filter_type == 'past' %}live{% else %}past{% endif %} events</a></h1>{% endblock %}

{% block main %}

{% block posts_tagged_as %}
{% if filter_type == 'tag' %}
<h4 class="filter-description">Events tagged as <strong>{{ filter|safe }}</strong> <a href="{% pageurl self %}" class="small button float-right">Show all</a></h4>
{% endif %}
{% endblock %}

{% block index_page_children %}
{% include "cms/includes/event_index_events.html" with class="events" %}
{% endblock %}

{% endblock %}
