{% extends "cms/base.html" %}
{% load wagtailcore_tags %}

{% block title %}{% endblock %}

{% block base %}
<div class="homepage">
    <div class="row">
        <div class="large-12 columns">
            <div class="home-splash">
                {% include "cms/includes/carousel.html" with carousel_items=self.carousel_items.all %}
                {% include "cms/includes/streamfield.html" with content=self.body %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="medium-8 large-8 columns">

            <a href="/events"><h2>Events</h2></a>
            <div class="row" data-equalizer data-equalize-on="large">
                {% for event in self.get_live_events %}
                <div class="large-6 columns" data-equalizer-watch>
                    {% include "cms/includes/event_home.html" with event=event %}
                </div>
                {% empty %}
                <p>Sorry, nothing to show here.</p>
                {% endfor %}
            </div>

            <a href="/news"><h2>GSSN Virtual</h2></a>
            <div class="row" data-equalizer data-equalize-on="large" id="blog-section">
                {% for post in self.get_latest_blog_posts %}
                <div class="large-6 columns" data-equalizer-watch>
                    {% include "cms/includes/blog_post_home.html" with post=post %}
                </div>
                {% empty %}
                <p>Sorry, nothing to show here.</p>
                {% endfor %}
            </div>
        </div>
        <div class="medium-4 large-4 columns">
            <div class="twitter-box">
                <h2><a class="twitter-timeline" href="https://twitter.com/G_S_S_N">Tweets by G_S_S_N</a></h2>
                <script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
<div class="row">
        <div class="medium-12 large-12 columns">
<div class="additional">
            <div class="row" data-equalizer data-equalize-on="large">
                <div class="medium-6 large-3 columns" data-equalizer-watch>
                    <a href="/research/">
                        <h4>Research Projects</h4>
                    </a>
                </div>
                <div class="medium-6 large-3 columns" data-equalizer-watch>
                    <a href="/events/schools/">
                        <h4>School Events</h4>
                    </a>
                </div>
                <div class="medium-6 large-3 columns" data-equalizer-watch>
                    <a href="/about/partners">
                        <h4>Our Partners</h4>
                    </a>
                </div>
                <div class="medium-6 large-3 columns" data-equalizer-watch>
                    <a href="/research/resources">
                        <h4>Free Resources</h4>
                    </a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}