{% extends "cms/base.html" %}
{% load wagtailcore_tags %}

{% block title %}{% endblock %}

{% block base %}
<div class="row">
    <div class="large-12 columns">
        <div class="home-splash">
            {% include "cms/includes/carousel.html" with carousel_items=self.carousel_items.all %}
            {% include "cms/includes/streamfield.html" with content=self.body %}
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h3>Latest News</h3>
        <hr>
        <ul class="no-bullet index">
            {% for post in self.get_latest_blog_posts %}
            <div class="large-4 columns">
                <li>
                    {% include "cms/includes/blog_post_preview.html" with post=post %}
                </li>
            </div>
            {% empty %}
            <li>Sorry, nothing to show here.</li>

            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="medium-8 large-8 columns">
            <h3>Upcoming Events</h3>
            <hr>
            <ul class="no-bullet index">
            {% for event in self.get_live_events %}
                <div class="large-6 columns">
                    <li>
                        {% include "cms/includes/event_preview.html" with event=event %}
                    </li>
                </div>
                {% empty %}
                <li>Sorry, nothing to show here.</li>
                {% endfor %}
            </ul>
            <h3>Latest Resources</h3>
            <hr>
            <div class="search-results">
            <ol>
                <li>
                    <h4><a href="http://www.bfi.org.uk/sites/bfi.org.uk/files/downloads/bfi-film-forever-2012-17.pdf">Resource A</a></h4>Lorem ipsum&nbsp;dolor sit amet, consectetur adipiscing elit. Audax negotium, dicerem impudens, nisi hoc institutum postea translatum ad philosophos nostros esset.<br>
                </li>
                <li>
                    <h4><a href="http://www.bfi.org.uk/sites/bfi.org.uk/files/downloads/bfi-film-forever-2012-17.pdf">Resource B</a></h4>Lorem ipsum&nbsp;dolor sit amet, consectetur adipiscing elit. Audax negotium, dicerem impudens, nisi hoc institutum postea translatum ad philosophos nostros esset.<br>
                </li>
                <li>
                    <h4><a href="http://www.bfi.org.uk/sites/bfi.org.uk/files/downloads/bfi-opening-our-eyes-2011-07_0.pdf">Resources C</a></h4>Lorem ipsum&nbsp;dolor sit amet, consectetur adipiscing elit. Audax negotium, dicerem impudens, nisi hoc institutum postea translatum ad philosophos nostros esset.<br>
                </li>
            </ol>
            </div>
        </div>
        <div class="medium-4 large-4 columns">
            <h3>Tweets</h3>
            <hr>
        </div>
    </div>
    {% endblock %}