{% extends "cms/base.html" %}
{% load cms_tags wagtailcore_tags %}

{% block main %}

{% block subnav %}
{% has_local_menu current_page=self as show_local_menu %}
{% if show_local_menu %}
{% local_menu current_page=self %}
{% endif %}
{% endblock %}

{% block index_page_introduction %}
{% include "cms/includes/introduction.html" with introduction=self.intro only %}
{% endblock %}

{% block index_page_children %}
{% include "cms/includes/index_page_children.html" with title="In this section" %}
{% endblock %}

{% block related_links %}
{% include "cms/includes/related_links.html" with related_links=self.related_links.all title="Related links" %}
{% endblock %}

{% endblock %}